<%-include('../partials/header')%>
<%-include('../partials/navbar')%>
<%-include('../partials/mobileNavbar')%>


    <div class="page-wrapper">
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0" hidden>
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="/aboutUs">About us</a></li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
            <div class="container">
	        	<div class="page-header page-header-big text-center" style="background-image: url('/user/assets/images/about-header-bg.jpg')">
        			<h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
	        	</div><!-- End .page-header -->
            </div><!-- End .container -->

            <div class="page-content pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-3 mb-lg-0">
                            <h2 class="title">Our Vision</h2><!-- End .title -->
                            <p>At Divine Styles, our vision is to revolutionize the way you discover, shop, and wear fashion. We strive to create a seamless and enjoyable shopping experience, allowing you to effortlessly find your favorite dresses for any occasion. Whether it's casual wear for everyday comfort, formal attire for professional settings, ethnic outfits for cultural celebrations, or stunning party wear to make you stand out, we have it all.

                                Our goal is to empower you to express your unique style and confidence through fashion. We are committed to offering a diverse range of high-quality apparel that meets the needs of every fashion enthusiast.</p>
                        </div><!-- End .col-lg-6 -->
                        
                        <div class="col-lg-6">
                            <h2 class="title">Our Mission</h2><!-- End .title -->
                            <p>At Divine Styles, our mission is to empower every individual to express their unique style through fashion. We are dedicated to offering a diverse collection of high-quality casual, formal, ethnic, and party wear that caters to every occasion and personality.

                                We believe that fashion is not just about clothing; it’s about making a statement, embracing confidence, and feeling great in what you wear. Our goal is to create a seamless and enjoyable shopping experience, where you can effortlessly browse, discover, and order your favorite dresses, ensuring that you always look and feel your best, no matter where you go.
                                
                                </p>
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->

                    <div class="mb-5"></div><!-- End .mb-4 -->
                </div><!-- End .container -->

                <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 mb-3 mb-lg-0">
                                <h2 class="title">Who We Are</h2><!-- End .title -->
                                <p class="lead text-primary mb-3">At Divine Styles,we are passionate about fashion <br>and dedicated to helping you express your unique sense of style.</p><!-- End .lead text-primary -->
                                <p class="mb-2">Based in the vibrant heart of Kerala, our team is a blend of fashion enthusiasts, creative designers, and tech-savvy developers .  We come together with a shared mission: to bring you a curated collection of exquisite casual, formal, ethnic, and party wear that suits every occasion.</p>

                                <a href="blog.html" class="btn btn-sm btn-minwidth btn-outline-primary-2" hidden>
                                    <span>VIEW OUR NEWS</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .col-lg-5 -->

                            <div class="col-lg-6 offset-lg-1">
                                <div class="about-images">
                                    <img src="/user/assets/images/about/img-1.jpg" alt="" class="about-img-front">
                                    <img src="/user/assets/images/about/img-2.jpg" alt="" class="about-img-back">
                                </div><!-- End .about-images -->
                            </div><!-- End .col-lg-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .bg-light-2 pt-6 pb-6 -->

                

                <div class="mb-2"></div><!-- End .mb-2 -->

                <div class="about-testimonials bg-light-2 pt-6 pb-6">
                    <div class="container">
                        <h2 class="title text-center mb-3">What Customer Say About Us</h2><!-- End .title text-center -->

                        <div class="owl-carousel owl-simple owl-testimonials-photo" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "1200": {
                                        "nav": true
                                    }
                                }
                            }'>
                            <blockquote class="testimonial text-center">
                                <img src="/user/assets/images/User1.jpg" alt="user">
                                <p>"Divine Styles has transformed my wardrobe! The variety of dresses available is incredible, and I always find something that perfectly matches my style. The quality is top-notch, and the delivery is super fast. I'm a loyal customer for life!"</p>
                                <cite>
                                    Michael Brown
                                    <span>Customer</span>
                                </cite>
                            </blockquote><!-- End .testimonial -->

                            <blockquote class="testimonial text-center">
                                <img src="/user/assets/images/User2.jpg" alt="user">
                                <p>"I recently ordered a formal suit for a wedding from Divine Styles, and I couldn't be happier with my purchase. The fit was perfect, and the material was high quality. The website is user-friendly, making shopping a breeze. Highly recommend it to everyone looking for stylish and affordable fashion!"</p>

                                <cite>
                                    Megan Clark
                                    <span>Customer</span>
                                </cite>
                            </blockquote><!-- End .testimonial -->
                        </div><!-- End .testimonials-slider owl-carousel -->
                    </div><!-- End .container -->
                </div><!-- End .bg-light-2 pt-5 pb-6 -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    


<%-include('../partials/footer')%>
<%-include('../partials/footerbar')%>